.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}
body {
  height: 100%;
  position: relative;
  background: #2f2f2f;
  color: white;
}
.container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  color: #cacaca;
}

@media (max-width: 1200px) {
  .footer {
    bottom: -50px;
  }
}

.carousel-indicators li {
  margin-bottom: 10px;
}

.list-group-item {
  background-color: #b6b6b6;
  color: black;
}

.card-body {
  color: #212529;
}
.bg-dark {
  background-color: #000000 !important;
}

.badge-dark {
  color: #fff;
  background-color: #000000;
}

.card-img-top {
  height: 150px;
}

/* @media (max-width: 400px) {
  .card-img-top {
    height: 150px;
  }
} */

.homeImage {
  height: 180px;
}

.card div:not(.h5) {
  font-size: 0.9rem;
}

.navbar-brand {
  padding-left: 0em;
}
