code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.background-white {
  background-color: #dfdfdf;
}

.bg-angular {
  background-color: #ffb2b2;
}
.bg-react {
  background-color: #41d2ff;
}

.bg-vue {
  background-color: #bcffb3;
}
