code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.background-white {
  background-color: #dfdfdf;
  color: #212529;
}

.bg-angular {
  background-color: #e20000;
  color: white;
}

.angular-text {
  text-shadow: 1px 1px 3px #000000;
}
.bg-react {
  background-color: #24a1c7;
  color: white;
}

.react-links a {
  color: #000;
}

.react-blue {
  text-shadow: 2px 2px 0px #484848;
}

.bg-vue {
  background-color: #00bc7d;
  color: white;
}

.vue-text {
  text-shadow: 3px 3px 3px #007112;
}
.modal {
  color: #212529;
}
.modal-dialog {
  max-width: unset;
}

.curseme {
  cursor: pointer;
}
