code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.background-white {
  background-color: #dfdfdf;
  color: #212529;
}

.bg-angular {
  background-color: #ffb2b2;
  color: #212529;
}
.bg-react {
  background-color: #41d2ff;
  color: #212529;
}

.bg-vue {
  background-color: #bcffb3;
  color: #212529;
}
.modal {
  color: #212529;
}
.modal-dialog {
  max-width: unset;
}

.curseme {
  cursor: pointer;
}
